@model MinderXAuth.Models.User;
@{
    ViewData["Title"] = "_GetUser";
}

<div style="position:fixed; top:40px; left:10px">
    <h2>@Model.UserLogin</h2>
    <hr />
    <img src="@Model.ProfilePic" class="img-circle" height="100" width="100">
</div>

